body {
  font-family: 'Arial', sans-serif;
  background-color: #7b7b8b96;
  display: flex; /*flex permite organizar los elementoos de manera flexble dentro del contenedor trabajado*/
  justify-content: center;
  padding: 20px;
}

.container {
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
}

h1{
    text-align: center;
}

h2, h3 {
  color: #333;
  margin-bottom: 15px;
}

label {
  display: flex;
  align-items: center; /* centra verticalmente */
  gap: 100px;          /* espacio fijo entre label e input */
  margin-bottom: 10px;
  font-weight: 500;
}

label span {
  display: inline-block;
  width: 120px; /* todas las etiquetas tienen el mismo ancho */
  font-weight: 500;
}

input[type="text"], input[type="number"] {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 50%;
}

button {
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

button:hover {
  background-color: #4CAF50;
}

hr {
  margin: 20px 0;
  border: 0;
  height: 1px;
  background: #ddd;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  background: #f0f0f0;
  margin-bottom: 5px;
  padding: 8px 10px;
  border-radius: 6px;
}

#resultado {
  background: #e0f7fa;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  min-height: 40px;
}